<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="./vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="NetworkTest.php">./tests/Unit</directory>
            <directory suffix="TokenRequestTest.php">./tests/Unit</directory>
            <directory suffix="UserActionTest.php">./tests/Unit</directory>
            <directory suffix="ClientTest.php">./tests/Unit</directory>
            <directory suffix="HttpCodeTest.php">./tests/Unit</directory>
            <directory suffix="UserTest.php">./tests/Unit</directory>
            <directory suffix="FieldsCheckerTest.php">./tests/Unit</directory>
            <directory suffix="Md5Test.php">./tests/Unit</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>
